@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    background-color: #2926CC;
    padding: 0;
    margin: 0;
    color: #D3D3D3;
    font-family: 'Roboto', sans-serif;
}

a {
  color: rgb(219, 219, 219);
}

.about a{
  color: rgb(219, 219, 219);
}

header {
    background-color: #3532D8;
    width: 100%;
    left: 0px;
    top: 0px;
}

header a{
  text-decoration: none;
}

.catagories {
  margin: auto;
  width: 90%;
  text-align: center;
  word-spacing: 10px;
}

body{
  padding: 0;
  margin: 0;
}

.logo {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
}

.logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 20px;
}


.heading {
  margin: auto auto auto auto;
  width: 75%;
  padding: 0px;
  text-align: center;
}

.list img{
  max-width: 220px;
}

.list {
  flex-direction: row;
  text-align: left;
  display: flex;
  margin: auto auto auto auto;
  width: 95%;
  
  gap: 10vw;
  align-items: center;
  justify-content: center;
}

.about {
  max-width: 900px;
  background-color: #3532D8;
  width: 80vw;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10vw;
  margin-left: 8vw;
  
}

.example {
  max-width: 900px;
  width: 80vw;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10vw;
  margin-left: 8vw;
    
}

.color {
  background-color: #3532D8;
}

footer {
  max-width: 1000px;
  width: 85vw;
  padding: 0px;
  margin: auto auto auto auto;
  color: #6665d3;
}

footer hr{
  height: 1px;
  background-color: #3532D8;
  border: none;
}

.fLink{
  color: #6665d3;
}



















































/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}