@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
  font-family: greedboldimport;
  src: url(home/greedbold.otf);
}


html {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 0;
  margin: auto;
  max-width: 800px;
  font-family: greedboldimport;

  overflow-x: hidden;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

html a{
  text-decoration: none;
}

.sorry{
  color: red;
  position:absolute;
  top: 150px;
  font-size: 0px;
}

.section1 a{
  color: #2926CC;
  text-decoration: underline;
}

.section1 a:hover{
  color: black;
}

.section1{
  top: 10px;
  display: grid;
  grid-auto-flow: column;
  width: 800px;
}

.title {
  min-width: 50vw;
  max-width: 400px;

  width: 60%;
  font-size: 12px;
  text-align: left;
  padding: 0px 0px 30px 20px;

}

.title span {
  color: #2926CC;
}

.ifone
{
  padding-top: 10px;
  margin-right: 100vw;
  order: 2;
  max-width: 400px;
}

.ifone img {
  max-width: 170px;
}


.title2{
  position: relative;
  top: 90;
  font-size: 12px;
  padding-left: 20px;
  max-width: 800px;
}

.section3 {
  font-size: 15px;
  width: 100%;
  position: relative;
  top: 105px;
  display: grid;
  grid-auto-flow: column;
  max-width: 800px;
}

.buttons{
  width: 20vw;

  color: white;
  border-radius: 15px;
  height: 60px;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  background-color: #2926CC;
  max-width: 180px;
  max-height: 100px;
}

.section3 a {
  color: white;
}

.section3 a:hover{
  text-decoration: none;
  color: rgb(219, 218, 218);
  background-color: #201dcc;
}

.section4{
  position: relative;
  top: 160px;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 800px;
}

.secton4 span{
  text-decoration: underline;
}

.section4 a{
  color: #2926CC;
}

.section4 a:hover{
  color: black;
}

.section4 h5{
  font-size: 15px;
}

.m1{
  top: 230.0px;
  position: absolute;
  display: block;
  transform: rotate(2deg);
}

.marquee1{
  z-index: -1;
  overflow: hidden;
  background-color: #2926CC;
  font-size: 13px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
  position: absolute;
  left: -30;
  max-width: 850px;
  width: 110vw;
}

.realmarquee1{
  top: -3;
  width: 1820px;
  color: white;
  position: relative;
  overflow: hidden;
  animation: marquee1 20s linear infinite;
}

.m2{
  top: 685px;
  position: absolute;
  display: block;
  transform: rotate(-2deg);
}

.marquee2{
  z-index: -1;
  overflow: hidden;
  background-color: #2926CC;
  font-size: 13px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
  position: absolute;
  left: -30;
  max-width: 850px;
  width: 110vw;
}

.realmarquee2{
  top: -2;
  width: 1300px;
  color: white;
  position: relative;
  display: block;
  overflow: hidden;
  animation: marquee2 20s linear infinite;
}

.m0{
  top: 220px;
  position: absolute;
  display: block;
  transform: rotate(-2deg);
}

.marquee0{
  z-index: -1;
  overflow: hidden;
  background-color: #2926CC;
  font-size: 13px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
  position: absolute;
  left: -30;
  max-width: 850px;
  width: 110vw;
}

.realmarquee0{
  top: -5.0px;
  width: 1000px;
  color: white;
  position: relative;
  display: block;
  overflow: hidden;
  animation: marquee0 20s linear infinite;
}


footer {
  
  width: 100%;
  padding: 0px;
  background-color: #2926CC;
  color: white;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px -10px -10px;
  max-width: 800px;
}

footer a{
  color: white;
  text-decoration: underline;
}

footer a:hover{
  color: rgb(173, 173, 173);
}

footer h5{
  font-size: 15px;
}






header {
  background-color: #3532D8;
  width: 100%;
  left: 0px;
  top: 0px;
  margin: 10 10 10 10;
}

header a{
text-decoration: none;
color: white;
}

.catagories {
margin: auto;
width: 90%;
text-align: center;
word-spacing: 10px;
}

.logo {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
}

.logo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 20px;
}


.heading {
margin: auto auto auto auto;
width: 75%;
padding: 0px;
text-align: center;
}




@keyframes marquee2 {
  0% { left: 80%;}
  100% { left: -100%;}
}

@keyframes marquee1 {
  0% { left: -90%;}
  100% { left: 25%;}
}

@keyframes marquee0 {
  0% { left: 55%;}
  100% { left: -100%;}
}


@media (min-width: 770px){

.sorry{
  color: red;
  position:absolute;
  top: 150px;
  font-size: 15px;
}

}
