
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: steelfishimport;
    src: url(img/steelfish.otf);
}

header
{
    font-family: steelfishimport;
    position: fixed;
    color: white;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: block;
    
}

header span
{
    color: #FD6204;
}

header p
{
    position: relative;
    z-index: 20;
    margin: auto;
    width: 100%;
    padding: 2px;
    text-align: center;
}

.toph
{
    font-size: 53px;
    margin: -10px 0 -20px 0px;
}

.bottomh
{
    font-size: 70px;
    margin: 0 0 -8px -5px;
}

header img
{
    width: 270px;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}


.box
{
    top: 400px;
    position: fixed;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 40s linear infinite;
    
}

@keyframes animate
{
    0%
    {
        transform: perspective(1000px) rotateY(0deg);
    }
    100%
    {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.box span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(241px);
}

.box span img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer
{
    font-family: steelfishimport;
    position: fixed;
    top: 680px;
    color: black;
    text-align: center;
}

footer a
{
    color: black;
    
}

footer a:hover
{
    color: #FD6204;
}