@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    margin: 0;
    color: black;
    font-family: 'Roboto', sans-serif;
    background-image: url("img/pass/hallpassold.PNG");
}

body
{
    padding: 30px;
}


.title
{
    text-align: center;
}


.lot
{
    position: absolute;
    display: inline;
    top: 1500px;
    left: 200px;
    font-size: 20px;
    float: right;
}

.lot img
{
    display: block;
    width: 100px;
}

footer
{
    position: absolute;
    display: inline;
    top: 2650px;
    margin: 10px;
    left: 0px;
}

footer a
{
    
    color: black;
    
}

footer a:hover
{
    color: gray;
}



























































.nav {
    display: flex;
    background-color: #2926CC;
    max-width: 148px;
}

.nav * {
font: 500 15px sans-serif;
}

.nav__link {
position: relative;
display: block;
padding: 10px 15px;
color: #ffffff;
text-decoration: none;
cursor: pointer;
white-space: nowrap;
background-color: rgb(95, 95, 95);
user-select: none;
-webkit-tap-highlight-color: transparent;
transition: background-color 0.2s;
}

.nav__link:hover {
background-color: #868585;
}

.nav__link-group {
position: absolute;
top: 100%;
left: 0;
min-width: 10%;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
opacity: 0;
visibility: hidden;
transform: translateY(-10px);
}

.nav__link:hover .nav__link-group {
opacity: 1;
visibility: visible;
transform: translateY(0px);
transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
}